ui {
    pane_frames {
        hide_session_name false
    }
}

pane_frames false

plugins {
	tab-bar { path "tab-bar"; }
	status-bar { path "status-bar"; }
	strider { path "strider"; }
	compact-bar { path "compact-bar"; }
}

simplified_ui true

theme "catppuccin-mocha"

